@import 'base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

dt {
  font-weight: bold;
}

#map-canvas {
  height: 560px;
  width: 100%;
}

body {
  font-family: 'MapoFlowerIsland', sans-serif;
  /* font-family: 'Nanum Myeongjo', serif; */
  color: #444;
  font-size: 16px;
  background-color: #fff;
  margin: 0 auto;
}

html, body {
  margin: 0px;
  overflow-x: hidden;
}

section {
  background-color: #fff;
}

section h2 {
  font-size: 20px;
  font-family: 'MapoFlowerIsland', serif;
}

#title, #call, #gallery, #video, #location {
  background-color: #fff;
}

#title img {
  width: 100%;
  height: 50vh;
  object-fit: cover; /* 비율을 유지하면서 채움 */
  display: block;
}

.container {
  padding: 20px;
}

#title .introText {
  width: 100%;
  height: 50vh;
  display: flex;
  /* 수평 우측 */
  justify-content: flex-end;
  /* 수직 하단 */
  align-items: flex-end;
  text-align: right;
}

#title h2 {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 24px;
}

#title .introText p {
  color: #606060;
  line-height: 24px;
}

#title .container {
  padding-bottom: 40px;
}

#invitation {
  background: #F1F1F1;
  padding: 20px;
  text-align: center;
}

#invitation .container {
  background: #fff;
  border-radius: 20px;
  font-family: 'MapoFlowerIsland', serif;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* 초대글 영역: 줄간격, 문단 간격 추가 */
#invitation h2 {
  margin-bottom: 30px;
  font-size: 20px;
}

#invitation p {
  line-height: 30px;
  margin-bottom: 24px;
}

#invitation .guestInfo {
  margin-top: 50px;
  font-weight: bold;
}

#invitation .guestInfo span{
  font-size: 14px;
}

#call .banner {
  height: 90px;
  background: #999;
  font-family: 'MapoFlowerIsland', serif;
  line-height: 90px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background-image: url(images/banner.jpg);
  background-size: cover;
  background-position: center;
}

#call .banner p {
  text-align: center;
  padding: 30px 0;
}

#call .phone {
  text-align: center;
  padding: 30px 0;
}

#call .phone  li{
  display: inline-block;
}

#call .phone  li:first-child {
  margin-right: 50px;
}

#call .phone  li p{
  margin-top: 10px;
}

#gallery .container {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

#gallery h2 {
  margin-bottom: 30px;
}

#gallery figure {
  width: 100%;
  height: 210px;
}

#gallery figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

#gallery .galleryList {
  display: flex;
  flex-wrap: wrap;
}

#gallery .galleryList li {
  /* (100% - 칼럼여백) / 칼럼수 */
  width: calc((100% - 20px) / 3);
  margin-right: 10px;
  margin-top: 10px;
  height: 106px;
  /* outline: 1px solid; */
}

/* 마지막 칼럼은 제거 */
#gallery .galleryList li:nth-child(3n) {
  margin-right: 0;
}

#gallery .galleryList li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#video {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

#video h2 {
  margin-bottom: 30px;
}

/* 비디오 컨테이너: 16 vs 9 비율로 제작 */
.video {
  padding-bottom: 56.25%; /* 100분률로 환산한 높이 */
  background: #ccc;
  position: relative;
}

.video iframe {
  position: absolute;
  left: 0;
  top: 0;
}

#video p {
  font-family: 'MapoFlowerIsland', serif;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

#location {
  text-align: center;
  padding-top: 40px;
}
#location h2 {
  margin-bottom: 30px;
}

#location .appLink {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}

#location .appLink li:not(:last-child) {
  margin-right: 30px;
}

#location .container {
  padding-top: 30px;
}

#location .transfer {
  text-align: left;
  line-height: 24px;
}

#location .transfer dt {
  margin-top: 20px;
}

.modal {
  z-index: 500;
  width: 100%;
  height: auto;
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

/*.modal button {*/
/*  position: absolute;*/
/*  top: 1rem;*/
/*  right: 3rem;*/
/*  background: transparent;*/
/*  border: 0;*/
/*  color: #FFF;*/
/*  font-size: 3rem;*/
/*}*/

/*.modalBox {*/
/*  position: relative;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  background-color: rgba(0, 0, 0, 0);*/
/*  text-align: center;*/
/*}*/

/*.slick-track {*/
/*  display: flex;*/
/*}*/

/*.slick-track .slick-slide {*/
/*  opacity: 0;*/
/*  display: flex;*/
/*  height: auto;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/

/*.slick-track .slick-current {*/
/*  opacity: 1;*/
/*}*/

/*.slick-initialized .slick-slide {*/
/*  float: inherit;*/
/*  display: inline-block !important;*/
/*  vertical-align: middle;*/
/*}*/

/*.slick-track .slick-slide img {*/
/*  max-height: 90vh;*/
/*  max-width: 95vw;*/
/*  margin: 0 auto; !* it centers any block level element *!*/
/*}*/

/*.slick-slider {*/
/*  touch-action: auto !important;*/
/*}*/

/* 07.2.7 IMAGE & VIDEO DIVIDER					 */
/* ----------------------------------------------*/
.divider-wrapper {
  padding: 130px 0;
}

div {
  word-break: keep-all;
}

.image-divider {
  position: relative;
  background-size: cover;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-position: 75% 50%;
  background-repeat: no-repeat;
  color: #FFF;
  -webkit-backface-visibility: hidden;
}

.image-divider.mobile {
  background-attachment: scroll;
}

.video-divider {
  position: relative;
  color: #FFF;
  z-index: 3;
}

.image-divider h1, .image-divider h2,
.image-divider h3, .image-divider h4,
.image-divider h5, .image-divider h6,
.video-divider h1, .video-divider h2,
.video-divider h3, .video-divider h4,
.video-divider h5, .video-divider h6 {
  color: #FFF;
}


.image-divider .divider-overlay,
.video-divider .divider-overlay {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3
}

.image-divider.auto-height,
.video-divider.auto-height {
  height: 100%;
  width: 100%;
  padding: 150px 0;
}

.image-divider.fixed-height,
.video-divider.fixed-height {
  height: 700px;
  width: 100%;
  padding: 0;
}